[submodule "ThirdPartyLibs/lodepng"]
	path = ThirdPartyLibs/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "ThirdPartyLibs/glfw"]
	path = ThirdPartyLibs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "DearImGui"]
	path = ThirdPartyLibs/DearImGUI
	url = https://github.com/ocornut/imgui.git
