[submodule "ThirdPartyLibs/lodepng"]
	path = ThirdPartyLibs/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "ThirdPartyLibs/glfw"]
	path = ThirdPartyLibs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "DearImGui"]
	path = ThirdPartyLibs/DearImGUI
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdPartyLibs/ImGUIExplore"]
	path = ThirdPartyLibs/ImGUIExplore
	url = https://github.com/JerryYan97/ImGUIExplore.git
[submodule "ThirdPartyLibs/TinyObj"]
	path = ThirdPartyLibs/TinyObj
	url = https://github.com/tinyobjloader/tinyobjloader.git
