[submodule "ThirdPartyLibs/lodepng"]
	path = ThirdPartyLibs/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "ThirdPartyLibs/glfw"]
	path = ThirdPartyLibs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "DearImGui"]
	path = ThirdPartyLibs/DearImGUI
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdPartyLibs/ImGUIExplore"]
	path = ThirdPartyLibs/ImGUIExplore
	url = https://github.com/JerryYan97/ImGUIExplore.git
[submodule "ThirdPartyLibs/TinyObj"]
	path = ThirdPartyLibs/TinyObj
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "ThirdPartyLibs/stb"]
	path = ThirdPartyLibs/stb
	url = https://github.com/nothings/stb.git
[submodule "ThirdPartyLibs/args"]
	path = ThirdPartyLibs/args
	url = https://github.com/Taywee/args.git
[submodule "ThirdPartyLibs/RenderDoc"]
	path = ThirdPartyLibs/RenderDoc
	url = https://github.com/baldurk/renderdoc.git
[submodule "ThirdPartyLibs/TinyGltf"]
	path = ThirdPartyLibs/TinyGltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "ThirdPartyLibs/glm"]
	path = ThirdPartyLibs/glm
	url = https://github.com/g-truc/glm.git
